<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<NEW_THX"/>-->
    <!--<RESPALDO_NEW_THX"/>-->
    <add name="default" connectionString="Data Source=192.168.10.45;Initial Catalog=NEW_THX;Persist Security Info=True;User ID=sa;Password=Soprodi1234" providerName="System.Data.SqlClient"/>
    <add name="ventamovil" connectionString="Data Source=192.168.10.45;Initial Catalog=SoprodiVenta;Persist Security Info=True;User ID=sa;Password=Soprodi1234" providerName="System.Data.SqlClient"/>
    <add name="ventamovil_real" connectionString="Data Source=192.168.10.22;Initial Catalog=SoprodiVenta;Persist Security Info=True;User ID=sa;Password=Soprodi1234" providerName="System.Data.SqlClient"/>
    <add name="solomon" connectionString="Data Source=192.168.10.8;Initial Catalog=SoprodiUSDapp;Persist Security Info=True;User ID=sa;Password=Soprodi1234" providerName="System.Data.SqlClient"/>
    <add name="solomon_test" connectionString="Data Source=192.168.10.98;Initial Catalog=SoprodiUSDapp;Persist Security Info=True;User ID=sa;Password=Soprodi1234" providerName="System.Data.SqlClient"/>

    
    <!-- <add name="default" connectionString="Data Source=192.168.10.45;Initial Catalog=test_thx;Persist Security Info=True;User ID=sa;Password=Soprodi1234" providerName="System.Data.SqlClient" />  -->
  </connectionStrings>
  <appSettings>
    <add key="RUTA" value="C:\\DOCUMENTOS_APP_SOPRODI\\"/>
    <add key="RUTA2" value="D:\\RESPALDO_DOC_PDF\\HISTORY SENT\\"/>
    <add key="RUTA3" value="\\pdf\\"/>
    <add key="RUTA_EXCEL" value="C:\\APP_EXCEL\\"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="AppCache1" enabled="false" duration="0"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime executionTimeout="900000" maxRequestLength="2097151"/>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms name="login" loginUrl="Acceso.aspx" protection="All" defaultUrl="Menu.aspx" timeout="900" path="/"/>
    </authentication>
    
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" uiCulture="es-AR"/>
      
    
    <sessionState mode="InProc" cookieless="true" timeout="400"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <!--  Turn on Custom Errors 
    <customErrors mode="On"
      defaultRedirect="ERROR.aspx">
      <error statusCode="404" redirect="ERROR_404.aspx"/>
    </customErrors>-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>